.Rproj.user
.Rhistory
.RData
agendaprobshollis.py
anr.RData
corpwins.Rda
devplot.Rda
player-ratings.Rda
rated-games.Rda
runwins.Rda
Jinteki PE Game Duration vs Date.png
Kate_HBEtF.png
Kate_all.png
NBN Game Duration vs Date.png
OCTGN_stats_anonymized-2014-04-01.csv
flatline.Rmd
flatline.html
flatline.md
glickoPlots.R
matchups.Rda
matchups_writeup_1.Rmd
matchups_writeup_1.html
matchups_writeup_1.md
notes.Rmd
octgn_part1_wins_flatlines.html
figure
test.R
unitTests.R
validation.R
Netrunner.Rproj
